﻿@model MyLibrary.Models.BorrowBookViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Borrow Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div>Please search for who you would like to borrow '@Model.Book.Title', by @Model.Book.Author</div>
        <br/>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.Borrower.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Borrower.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Borrower.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Borrower.LastName, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
        }
        
        @if (Model.Borrowers.Any())
        {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Borrower.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Borrower.LastName)
                </th>
                <th>
                    Check Out
                </th>
            </tr>
            @foreach (var item in Model.Borrowers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    @*<td> <!-- expansion: show and prevent users from borrowing more if they have overdue books -->
                        @Html.DisplayFor(modelItem => item.HasOverdueItems)
                    </td>*@
                    <td>
                        @using (Html.BeginForm("CheckoutBook", "Borrower", new {bookId = Model.Book.Id, borrowerId = item.Id}, FormMethod.Post))
                        {
                            <input type="submit" value="Borrow book" class="btn btn-default" />
                        }
                    </td>
                </tr>
            }
        </table>
        }
        else
        {
        <div>@Model.SearchResultInfo</div>
        }
    </div>
}

<div>
    @Html.ActionLink("Back to book search", "SearchBooks")
</div>
