﻿@model MyLibrary.Models.BookBorrowResult

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Borrow Book</h4>
        <div>@Model.Message</div>
    </div>
}

<br/>
<div>
    @Html.ActionLink("Back to book search", "SearchBooks")
</div>
