﻿
@using System.Web.Mvc.Html
@model IEnumerable<MyLibrary.Models.BorrowedBookViewModel>
<div>
    <h4>Ovedue Books Details</h4>
   
        <table class="table">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    DueDate
                </th>
                <th>Borrower Name</th>
                <th>
                </th>
            </tr>
           @foreach (var borrowedBook in Model)
           {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => borrowedBook.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => borrowedBook.Book.Author)
                </td>
                <td>
                    @Html.DisplayFor(model => borrowedBook.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(model => borrowedBook.Borrower.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => borrowedBook.Borrower.LastName)
                </td>

            </tr>
           }

        </table>

</div>
