﻿
@using MyLibrary.Models
@model MyLibrary.Models.BookSearchViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Search books</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit"  value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
    
    if (Model.Books.Any())
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Available)
                </th>
                <th>
                    Borrow
                </th>
            </tr>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @(item.Available ? "Yes" : "No, currently out on loan")
                    </td>
                    <td>
                        @if(item.Available)
                        {
                            @Html.ActionLink("Click to borrow", "BorrowBook", "Borrower", new {bookId = item.Id}, null)
                        }
                        else
                        {
                            @* TODO: wire this up 
                            @Html.DisplayFor(modelItem => item.DueBackOn)*@
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div>@Model.SearchResultInfo</div>
    }
}